@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');


body{
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    color: lightcoral !important;
}

.nav-link{
    font-size: 16px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto condensed';
}
.nav-link:hover{
    color: #00E8E8 !important;
}
.active .nav-link{
    color: #00E8E8 !important;
}

.menu-right-btn{
    padding: 13px 46px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
}
.menu-right-btn:hover{
    color: #fff;
    background-color: #00E8E8;
}

.site-content{
    background-image:url('../images/adult-books-business-374016.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient();
}
.site-title, .site-desc{
    color: palevioletred;
    font-family: 'Righteous';
}
.site-title{
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 50px;
}
.site-desc{
    font-size: 14px;
    padding-left: 15%;
}
.site-btn1{
    margin-left: 20%;
    color: #fff;
    background: #000;
}
.site-btn2{
    background: #fff;
}
.site-btn1, .site-btn2{
    margin-top: 5%;
    margin-bottom: 40%;
}

/*section-1*/

.section-1 .heading-1{
    margin-top: 8%;
}
.section-1 .heading-2{
    margin-bottom: 5%;
    font-size: 39px;
}
.section-1 .para-1{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-1 .card-text, .para-1{
    color: rgba(0, 0, 0, 0.59);
} 
.section-1{
    margin-bottom: 8%;
}



/*=== section-2 ===*/
.section-2 .container-fluid{
    background-image: url('../images/blur-books-bookshelves-68763.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.section-2 .heading-1{
    margin-top: 20%;
    margin-bottom: 4%;
    font-family: 'Righteous';
    color: whitesmoke; 
    width: 80%;
}
.section-2 .para{
    width: 80%;
    margin-bottom: 7%;
    font-family: 'Ubuntu';
    color: whitesmoke;
}
.section-2 .btn{
    margin-bottom: 15%;
    width: 30%;
    padding: 2% 5%;
}



/*section-3*/
.section-3{
    margin-top: 6%;
}
.section-3 i{
    color: #00E8E8;
}
.section-3 p{
    color: rgba(0,0,0,0.59);
}


/*secxtion-4*/

.section-4{
    margin-top: 8%;
}
.section-4 .row .col-md-7, .col-md-5{
    margin-top: 10%;
    margin-bottom: 10%;
}
.section-4 a{
    font-size: 40px;
    color: #00E8E8 !important;
    text-decoration: none;
}
.section-4 .para-1{
    color: #fff;
    font-family: 'Roboto Condensed';
    margin-top: 7%;
    font-size: 23px;
}

.section-5 i{
    color: #EF5651;
    font-size: 20px;
}


@media screen and (max-width:768px){
    .section-1 .card{
       /* width: 18rem;*/
    }
    .section-4 .col-md-7 img{
        width: 350px;
    }
    .section-1 .row .col-md-4{
        /*width: auto;*/
    }
}

@media screen and (max-width:320px){
    .site-content .site-title{
        font-size: 30px;
        padding-left: 15%;
    }
    .site-content .site-btn2{
        display: none;
    }
    .site-content .site-btn1{
        margin-left: 15%;
    }
    .section-1 .heading-1,.section-1 .heading-2{
        font-size: 25px;
    }
    .section-1 .col-md-4{
        padding: 5%;
        margin-left: 8%;
    }
    
    .section-1 .card{
        width: 15rem;
    }
    .section-4 .col-md-5{
        padding: 0% 15%;
    }
    footer input[type="button"]{
        margin-top: 5%;
    }
    
    
}


























